input {
  width: 300px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid gray;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-weight: bold;
}